/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.homepage {
  background-color: #ffffff;
}

// VALUE PROP

.value-prop {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.value-prop .feature {
  padding: 20px 30px;
  text-align: center;
  width: 50%;
}
.value-prop i.fa {
  font-size: 2.4em;
  color: #757c84;
  position: absolute;
  left: -12px;
  margin-top: 7px;
}

.value-prop h3 {
  font-size: 20px;
}

.value-prop p {
  font-size: 14px;
}

#key-features {
  background-color: #ffffff;
}

#key-features ul li {
  text-align: left;
  color: #757c84;
  margin: 40px 80px;
  padding-left: 40px;
  line-height: 2em;
  font-size: 15px;
  font-weight: 300;
  position: relative;
}


