<div class="class text-center">
  <h1>Enregistrez votre amende</h1>
  <h3>Votre amende ne sera bientot qu'un lointain souvenir....</h3>
</div>

<%= render 'form', fine: fines_path %>

<div class="text-center">
<%= link_to 'Back', root_path %>
</div>
