<% result=[] %>
<% @fines.each do |fine|%>
  <% if fine.point.to_s<=(params[:q]).to_s%>
    <% result << fine %>
  <% end%>
<% end%>

<% if result.size ==0 %>
 <p> Aucune amende ne correspond à votre demande veuillez changer vos critères <p>
<% else %>
  <p> <%= result.size %> amendes correspondent à vos critères </p>
  <div class="owl-carousel">
    <% result.each do |result|%>
      <%= render partial: "fines/card", object: result, as: :fine  %>
    <% end%>
  </div>
<% end%>

