<div class="tabs">
<a class="tab active" content-id ="#fine">
    <h3>Mes contraventions</h3>
  </a>
  <a class="tab" content-id ="#offer">
    <h3>Mes offres</h3>
  </a>
</div>

<div id="fine" class="tab-content" >
  <div class="owl-carousel">
  <%= render partial: "fines/card", collection: @fines, as: :fine %>
  </div>
</div>
<div id="offer" class="tab-content">
  <%= render partial: "offers/card", collection: @offers, as: :offer %>
</div>

<p>offer <%= @offers.length%></p>
<p>fine <%= @fines.length%></p>
