<div class="tabs">
<a class="tab active" content-id ="#fine">
    <h3>Mes contraventions</h3>
  </a>
  <a class="tab" content-id ="#offer">
    <h3>Mes offres</h3>
  </a>
</div>

<div id="fine" class="tab-content" >
  <p>Content for Tab 1</p>
</div>
<div id="offer" class="tab-content">
  <p>Content for Tab 2</p>
</div>
