<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path('image_banner.jpg') %>);">
  <div class="banner-contents">
      <h1>Twelve-Points</h1>
      <p>Laissez Papy Mougeot prendre en charge votre amende....</p>
      <a class="btn btn-primary btn-lg">Postez votre amende</a>
  </div>
</div>

<%= render partial: "fines/card", collection: @fines, as: :fine %>
