<div class="banner" style="background-image: url(<%= asset_path('image_banner.jpg') %>);">
  <div class="banner-content">
    <p>Avec,</p>
    <h1>Twelve-Points</h1>
    <p>Laissez Papy Mougeot prendre en charge votre amende....</p>
     <%= link_to t(".top_call_to_action", default: "Enregistrez votre amende"), new_fine_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

  </div>
</div>

<%= render partial: "fines/card", collection: @fines, as: :fine %>
