<div class="banner" style="background-image: url(<%= asset_path('contravention2.jpg') %>);">
  <div class="banner-content">
    <p>Avec,</p>
    <h1>Twelve-Points</h1>
    <p>Laissez Papy Mougeot prendre en charge votre amende....</p>
    <a class="btn btn-primary btn-lg">Postez votre amende</a>
  </div>
</div>
<%= render partial: "fines/card", collection: @fines, as: :fine %>
