#footer {
  height: 50px;
  width: 100%;
  background-color: #0A3D5C;
  color:white;
  padding-top: 10px;
  margin-top:10px;
}


.inline  {
  display: inline-block;
}

ul {
  text-align: center;
}

.a-footer {
  color: #ffffff;
  margin-left: 60px;
  font-size: 25px;

}
