#footer {
  height: 50px;
  width: 100%;
  background-color: #0A3D5C;
  color:white;
  padding-top: 10px;
  padding: 30px;
}


.inline  {
  display: inline-block;
}

ul {
  text-align: center;
}

.a-footer {
  color: #ffffff;
}
