
<div class="card card-block">
  <h4 class="card-title"><%=offer.fine.reason%></h4>
  <p class="card-text"> Amende : <%=offer.fine.price%></p>
  <p class="card-text"> Point(s) perdus(s) : <%=offer.fine.point%></p>
  <p class="card-text"> Prime d'honéteté : <%=offer.fine.fine_offer%> €</p>
