
.login-facebook{
  border-bottom: 1px solid #eee;
  color: #fff;
  padding: 12px 70px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #49639F;
  display: block;
  margin-top: 10px;
  text-align: center;
}


.forgot-password {
  font-size: 12px;
  color: gray;
}

.sign-up {
  font-size: 14px;
}


.container_login {
  padding: 10px;
}
